$main-color: #ebb576;
$titles-color: #555555;
$btn-color: #555555;
$btn-decoration-color: #555555;
$text-color: #696969;
$ele-bg-color: #696969;
$section-bg-color: #f7f7f7;
$dash-color: #ddd;
$gap: 24px;
$padding-bottom-section: 50px;
